.input {
  justify-content: center;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

body{
  padding:50px;
}

.container{
  max-width:600px;
  margin:0, auto;
  padding:50px;
  border: 12px solid #B22222;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.form-group{
  margin-bottom:30px;
}



@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .container, .body, .center, .form-group {
    width: 100%;
  }
}